<!DOCTYPE html>
<script>
  function reveal(){
    const x = document.getElementById("sus");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
<style>
  .nuts {
    color: white;
  }
</style>
<html>
  <head>
    <title>Error</title>
    <meta content="Event" property="og:title" />
    <meta content="glhf lol" property="og:description" />
    <meta content="https://event.badbird5907.net" property="og:url" />
    <meta content="#09ff00" data-react-helmet="true" name="theme-color" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Error: 404</h1>
    <h1>Nothing to see here...</h1>
    <p class="nuts">13224 64 17803 :troll:</p>
    <!--
    <button onclick="reveal()">Hint</button>
    <div id="sus" style="display: none">
    </div>
    -->
  </body>
</html>
